:root {
    font-size: 16px;
    font-family: Abel;
    --text-primary: #b6b6b6;
    --text-secondary: #eeccee;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background: url("https://images.unsplash.com/photo-1537000492618-6838fca45244?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=taneli-lahtinen-LWG9qJv-n_g-unsplash.jpg&w=1920") no-repeat center center fixed;
    background-size:cover;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 1rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--bg-secondary);
}

main{
    margin-left: 5rem;
    padding: 1rem;

}


.navbar {
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-secondary);
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
}
h1 {
    color:#b6b6b6;
}
p {
    color: #b6b6b6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
    
}

section p{
    font-size: 1.5rem;
}

section a {
    color: #b6b6b6;
    font-size: 1.5rem;
}
