#canvas1 {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("./assets/background2.jpg");
	background-repeat: no-repeat;
}

:root {
    font-size: 16px;
    font-family: Abel;
    --text-primary: #b6b6b6;
    --text-secondary: #eeccee;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background: url("./assets/bg3-min.jpg") no-repeat center center fixed;
    background-size:cover;
    margin: 0;
    padding: 0;
    overflow:hidden;
}


main{
    margin-left: 5rem;
    padding: 1rem;

}


.navbar {
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-secondary);
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
}
h1 {
    color:#b6b6b6;
}
p {
    color: #b6b6b6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
    
}

section p{
    font-size: 1.5rem;
}